/* .NavbarItem a{
    list-style : none;
    font-size : 18px;
    color : white;
    font-weight : bold;
    margin : 20px;
    padding : 8px 10px;
    border-radius : 5px;
}

.NavbarItem a:hover,
.NavbarItem a:focus{
    text-decoration : none;
    background-color : white;
    color : black;
    
} */

