.nav ul{
    margin-top : 12px;
    display : flex;
    list-style : none;
    justify-content : space-around;
}


.nav a{
    list-style : none;
    font-size : 18px;
    /* margin : 20px; */
    padding : 4px 10px;
    border-radius : 5px;
    cursor : pointer;
    color : white;
}

.nav a:hover,
.nav a:focus,
.nav a.active{
    text-decoration : none;
    background-color : white;
    color : black;
    
}

@media ( max-width : 500px ){
    .nav ul{
        display : none;
    }
}


